<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.SquizzaIndustries.cuffed"
    version     = "1.2.3" >

<!-- versionCode is optional and Android only -->
    
    
    <config-file mode="merge" parent="/manifest" platform="android" xmlns:android="http://schemas.android.com/apk/res/android">
        <application android:debuggable="false" />
    </config-file>
    

  <name>Cuffed</name>
    
    <icon src="icon.PNG" />

  <description>
      An adult card game
  </description>

  <author href="" email="">
      Squizza Industries
  </author>

</widget>
